.DS_Store
clientside/npm-debug.log*
clientside/yarn-debug.log*
clientside/yarn-error.log*
.vscode
clientside/node_modules
debug
*.tmp
build
clientside/dist
lastupdate.tmp
conf/app.conf
simple_datalogger_baterai
arduinointegrated
arduino
clientside/error.log
routers/commentsRouter________________home_edy_go_src_github_com_edot92_umjrs_controllers.go
routers/commentsRouter__________github_com_edot92_simple_datalogger_baterai_controllers.go
routers/commentsRouter_controllers.go